@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit
}

.flex-column,
.container,
.main-hangman,
.main-game {
    display: flex;
    flex-direction: column;
    align-items: center
}

.flex-row,
.header,
.footer-options,
.main,
.main-hangman--svg,
.main-game--word,
.main-game--meaning,
.main-game--enter form,
.main-game--tries {
    display: flex;
    align-items: center;
    flex-direction: row
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif
}

@media only screen and (max-width: 4000px) {
    html {
        font-size: 110%
    }
}

@media only screen and (max-width: 1800px) {
    html {
        font-size: 70%
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 60%
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 50%
    }
}

@media only screen and (max-width: 426px) {
    html {
        font-size: 35%
    }
}

@media only screen and (max-width: 375px) {
    html {
        font-size: 30%
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 25%
    }
}

@media only screen and (max-width: 300px) {
    html {
        font-size: 20%
    }
}

.container {
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start
}

.header {
    width: 100%;
    justify-content: flex-start;
    background: #191C21
}

.header-logo--text {
    padding: 1rem 2rem;
    font-size: 4rem;
    color: #FFFFFF
}

.footer {
    padding: 1rem 0;
    width: 100%;
    background: #191C21
}

.footer-options {
    justify-content: space-between;
    color: #FFFFFF
}

.footer-options * {
    font-size: 1.5rem;
    margin: 0 .5rem
}

.footer-options a {
    font-weight: 300;
    font-size: 2.2rem
}

.main {
    flex-grow: 1;
    width: 100%;
    background-color: #191C21;
    flex-direction: r;
    justify-content: center
}

@media only screen and (max-width: 426px) {
    .main {
        flex-direction: column-reverse
    }
}

.main-hangman,
.main-game {
    width: 50%;
    height: 100%;
    justify-content: flex-start
}

.main-hangman--svg {
    width: 100%;
    height: 100%;
    justify-content: center
}

.main-hangman svg {
    width: 80%;
    height: 80%
}

.main-hangman svg * {
    fill: #FFFFFF
}

.main-hangman svg #head,
.main-hangman svg #eyes_cross,
.main-hangman svg #hands,
.main-hangman svg #legs,
.main-hangman svg #spine,
.main-hangman svg #eyes_circle {
    visibility: hidden
}

.main-hangman svg #background_rect {
    fill: #191C21
}

.main-hangman svg #eyes_circle *,
.main-hangman svg #eyes_cross * {
    visibility: hidden
}

.main-hangman svg #eyes_circle.show *,
.main-hangman svg #eyes_cross.show * {
    visibility: visible;
    fill: #191C21
}

.main-hangman svg #background_rect,
.main-hangman svg #floor_full,
.main-hangman svg #bar_left,
.main-hangman svg #bar_top,
.main-hangman svg #rope,
.main-hangman svg #floor_right,
.main-hangman svg #floor_left {
    visibility: visible
}

.main-hangman svg #hands_left.dead,
.main-hangman svg #legs_left.dead {
    transform: rotate(25deg);
    transform-origin: 50% 41%
}

.main-hangman svg #legs_left.dead {
    transform-origin: 50% 54%
}

.main-hangman svg #hands_right.dead,
.main-hangman svg #legs_right.dead {
    transform: rotate(-25deg);
    transform-origin: 50% 41%
}

.main-hangman svg #legs_right.dead {
    transform-origin: 50% 55%
}

.main-game {
    padding: 1rem 4rem
}

.main-game--word {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 100%;
    height: 7rem;
    padding: 2rem 1rem;
    border-radius: .5rem;
    background: #FFFFFF;
    justify-content: space-between
}

.main-game--word .letter {
    flex: 1 1 0;
    margin: 0 .2rem;
    font-size: 3rem;
    color: #191C21;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    visibility: hidden
}

.main-game--word .letter.show {
    visibility: visible
}

.main-game--word .letter.hidden::after {
    content: "";
    visibility: visible;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .3rem;
    background-color: #191C21
}

.main-game--meaning {
    width: 100%;
    padding: 0 .3rem;
    border-radius: .5rem;
    margin-bottom: 5vh;
    color: #FFFFFF;
    font-size: 1.5rem;
    justify-content: center
}

.main-game--enter {
    margin-bottom: 7vh
}

.main-game--enter form * {
    padding: 1rem;
    border-radius: .5rem
}

.main-game--enter form *,
.main-game--enter form *:active,
.main-game--enter form *:focus,
.main-game--enter form *:hover {
    border: 0
}

.main-game--enter form input {
    font-size: 3rem;
    text-align: center;
    margin-right: 3rem;
    text-transform: uppercase;
    font-weight: 500
}

.main-game--enter form button {
    font-size: 2rem;
    border-radius: .5rem;
    background-color: #195962;
    color: #FFFFFF
}

.main-game--enter form button:hover {
    opacity: .7
}

.main-game--tries {
    width: 100%;
    height: 5vh;
    background: #195962;
    margin-bottom: 5vh;
    padding: 1rem;
    border-radius: .5rem;
    justify-content: flex-start
}

.main-game--tries span {
    color: #FFFFFF;
    font-size: 2.4rem;
    text-transform: uppercase
}

.main-game--start {
    font-size: 3rem;
    border-radius: .5rem;
    background-color: #FFFFFF;
    color: #195962;
    padding: 1rem;
    border-radius: .5rem;
    text-transform: capitalize
}

.main-game--start,
.main-game--start:active,
.main-game--start:focus,
.main-game--start:hover {
    border: 0
}

.main-game--start:hover {
    opacity: .7
}