@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$color-white : #F2FCF2;
$color-black:#0a0e0a;
$color-green:#00FF64;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    @media only screen and (min-width:1800px) {
        font-size: 110%;
    }

    @media only screen and (max-width:1800px) {
        font-size: 80%;
    }

    @media only screen and (max-width:1440px) {
        font-size: 62.5%;
    }

    @media only screen and (max-width:1024px) {
        font-size: 55%;
    }

    @media only screen and (max-width:768px) {
        font-size: 45%;
    }

    @media only screen and (max-width:425px) {
        font-size: 35%;
    }
}

body {
    padding: 1rem 2rem;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.header {
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media only screen and (max-width:768px) {
        flex-direction: column;
    }

    .logo {
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: .2rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        background-color: $color-green;

        @media only screen and (max-width:768px) {
            flex-grow: 1;
            width: 100%;
        }
    }

    .nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width:768px) {
            flex-grow: 1;
            height: 5rem;
            justify-content: space-around;
        }

        &--item {
            font-size: 1.6rem;
            margin: 0 1rem;
            padding: .5rem 1.5rem;
            border-radius: 1rem;
            transition: all .2s;
            font-weight: 600;

            & a {
                text-decoration: none;
                text-transform: uppercase;
                color: $color-white;

                @media only screen and (max-width:768px) {
                    & i {
                        display: none;
                    }
                }
            }

            &:hover {
                background-color: $color-green;

                & a {
                    color: $color-black;
                }
            }
        }
    }
}

.footer {
    margin-top: 4rem;
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $color-white;

    @media only screen and (max-width:768px) {
        flex-direction: column;
    }

    &-name {
        color: $color-black;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: .2rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        background-color: $color-green;

        @media only screen and (max-width:768px) {
            width: 100%;
            flex-grow: 1;
            text-align: center;
        }

        & span {
            font-size: 2rem;
            font-weight: 400;
        }
    }

    & .tech {
        font-size: 2.2rem;
        padding-right: 3rem;

        @media only screen and (max-width:768px) {
            width: 100%;
            flex-grow: 1;
            text-align: center;
            height: 6rem;
            padding-top: 1rem;
        }

        & span {
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.main {
    width: 100%;

    &-container {
        max-width: 100rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & .project {
            width: 100%;
            margin-top: 3rem;
            color: $color-black;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem 2rem;
            border: 3px solid $color-black;
            border-radius: 1rem;

            @media only screen and (max-width:768px) {
                flex-direction: column;
            }

            &--image {
                width: 20rem;
                height: 10rem;
                object-fit: contain;
                border-radius: 1rem;
            }

            &--details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-left: 4rem;
                flex-grow: 1;

                @media only screen and (max-width:768px) {
                    margin-left: 0;
                }
            }

            &--title {
                width: 100%;
                text-align: center;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 700;

                @media only screen and (max-width:768px) {

                    margin-top: 1rem;
                }
            }

            &--description {
                width: 100%;
                text-align: center;
                font-size: 1.6rem;
                padding: 1rem 2rem;
            }

            &--tech {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                margin-top: 2rem;

                &-item {
                    font-size: 1.4rem;
                    margin: 0 1rem;
                    padding: 1rem;
                    border-radius: .5rem;
                    text-align: center;

                    background: $color-black;
                    color: $color-white;
                }
            }

            &--links {
                @media only screen and (max-width:768px) {
                    width: 100%;
                    flex-grow: 1;
                    margin-bottom: 2rem;
                }

                &-list {
                    list-style: none;
                    font-size: 1.6rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    @media only screen and (max-width:768px) {
                        flex-direction: row;
                        width: 100%;
                        flex-grow: 1;
                    }
                }

                &-item {
                    background: $color-green;
                    margin-top: 1rem;
                    padding: 1rem;
                    border-radius: .5rem;
                    text-align: center;

                    @media only screen and (max-width:768px) {
                        margin-left: 1rem;
                    }

                    & a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $color-black;
                    }

                    &:hover {
                        background: $color-black;

                        & a {
                            width: 100%;
                            height: 100%;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}