*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #c69963
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 125.0%
    }
}

@media only screen and (max-width: 62.5em) {
    html {
        font-size: 55.0%
    }
}

@media only screen and (max-width: 50em) {
    html {
        font-size: 45.0%
    }
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 40.0%
    }
}

.heading-h2 {
    font-size: 4rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #101d2c
}

.heading-h2__dark {
    color: rgba(0, 0, 0, 0.7)
}

.heading-h2__light {
    color: #f9f7f6
}

.heading-h3 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400
}

.heading-h3__dark {
    color: rgba(0, 0, 0, 0.7)
}

.heading-h3__light {
    color: #f9f7f6
}

.btn-main {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #f9f7f6;
    background-color: #c69963;
    border: none;
    padding: 1.5rem 2rem;
    transition: all .2s
}

.btn-main:hover {
    background-color: #B28451
}

.container {
    display: grid;
    grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 7rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-columns: [sidebar-start] 7rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]
}

@media only screen and (max-width: 62.5em) {
    .container {
        grid-template-rows: 5rem 80vh -webkit-min-content 40vw minmax(40vw, -webkit-min-content) repeat(3, -webkit-min-content);
        grid-template-rows: 5rem 80vh min-content 40vw minmax(40vw, min-content) repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]
    }
}

@media only screen and (max-width: 50em) {
    .container {
        grid-template-rows: 5rem 80vh -webkit-min-content -webkit-min-content 40vw minmax(40vw, -webkit-min-content) repeat(3, -webkit-min-content);
        grid-template-rows: 5rem 80vh min-content min-content 40vw minmax(40vw, min-content) repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]
    }
}

.sidebar {
    grid-row: 1/-1;
    grid-column: sidebar-start/ sidebar-end
}

@media only screen and (max-width: 62.5em) {
    .sidebar {
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-content: flex-end;
        align-items: center
    }
}

.header {
    grid-row: 1/2;
    grid-column: full-start/ col-end 6
}

@media only screen and (max-width: 62.5em) {
    .header {
        grid-row: 2/3
    }
}

@media only screen and (max-width: 50em) {
    .header {
        grid-column: 1/-1
    }
}

.realtors {
    grid-row: 1/2;
    grid-column: col-end 6/ full-end
}

@media only screen and (max-width: 62.5em) {
    .realtors {
        grid-row: 2/3
    }
}

@media only screen and (max-width: 50em) {
    .realtors {
        grid-row: 3/4;
        grid-column: 1/-1
    }
}

.features {
    grid-row: 2/3;
    grid-column: center-start/ center-end
}

@media only screen and (max-width: 62.5em) {
    .features {
        grid-row: 3/4
    }
}

@media only screen and (max-width: 50em) {
    .features {
        grid-row: 4/5
    }
}

.story__pictures {
    grid-row: 3/4;
    grid-column: full-start/ col-end 4
}

@media only screen and (max-width: 62.5em) {
    .story__pictures {
        grid-row: 4/5;
        grid-column: full-start/ full-end
    }
}

@media only screen and (max-width: 50em) {
    .story__pictures {
        grid-row: 5/6
    }
}

.story__text {
    grid-row: 3/4;
    grid-column: col-end 4/full-end
}

@media only screen and (max-width: 62.5em) {
    .story__text {
        grid-row: 5/6;
        grid-column: full-start/ full-end
    }
}

@media only screen and (max-width: 50em) {
    .story__text {
        grid-row: 6/7
    }
}

.homes {
    grid-row: 4/5;
    grid-column: center-start/ center-end
}

@media only screen and (max-width: 62.5em) {
    .homes {
        grid-row: 6/7
    }
}

@media only screen and (max-width: 50em) {
    .homes {
        grid-row: 7/8
    }
}

.gallery {
    grid-row: 5/6;
    grid-column: full-start/ full-end
}

@media only screen and (max-width: 62.5em) {
    .gallery {
        grid-row: 7/8
    }
}

@media only screen and (max-width: 50em) {
    .gallery {
        grid-row: 8/9
    }
}

.footer {
    grid-row: 6/-1;
    grid-column: full-start/ full-end
}

@media only screen and (max-width: 62.5em) {
    .footer {
        grid-row: 8/-1
    }
}

@media only screen and (max-width: 50em) {
    .footer {
        grid-row: 9/-1
    }
}

.sidebar {
    background-color: #c69963;
    color: #f9f7f6;
    text-align: center
}

.sidebar__container {
    margin-top: 2rem;
    width: 100%
}

@media only screen and (max-width: 62.5em) {
    .sidebar__container {
        margin-top: 2.3rem;
        width: 6%;
        float: right
    }
}

.sidebar__dash {
    border: 1px solid #fff;
    width: 65%;
    position: relative;
    background-color: #fff;
    border-radius: 1rem
}

.sidebar__dash::before,
.sidebar__dash::after {
    position: absolute;
    content: "";
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 1rem
}

.sidebar__dash::before {
    top: -2.0rem;
    width: 65%;
    left: 0
}

.sidebar__dash::after {
    width: 85%;
    top: -1.0rem;
    left: 0
}

.header {
    background-image: linear-gradient(to right, rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../images/hero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 8rem;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 1rem
}

.header__logo {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center
}

.header__logo>img {
    height: 3rem
}

.header__h3 {
    grid-row: 4/5;
    grid-column: 1/3;
    text-transform: uppercase
}

.header__h3>h3 {
    font-size: 1.5rem
}

.header__h1 {
    grid-row: 5/6;
    grid-column: 1/-1;
    color: #f9f7f6;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1
}

.header__btn {
    grid-row: 6/7;
    grid-column: 1/3
}

.header__seen {
    grid-row: 8/9;
    grid-column: 1/-1;
    color: #f9f7f6;
    font-size: 1.2rem;
    text-transform: capitalize;
    align-self: end
}

.header__seen-text {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: center;
    justify-items: center
}

.header__seen-text::before,
.header__seen-text::after {
    content: "";
    height: 1px;
    border: 1px solid #fff;
    width: 100%;
    background-color: #fff
}

.header__company {
    grid-row: 9/10;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center
}

.header__company-logo {
    height: 2rem
}

.realtors {
    background-color: #101d2c;
    padding: 10rem 6rem;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem
}

.realtors__realtor {
    display: grid;
    grid-template-columns: -webkit-min-content -webkit-max-content;
    grid-template-columns: min-content max-content;
    grid-gap: 2rem 5vh;
    align-items: center
}

@media only screen and (max-width: 50em) {
    .realtors__realtor {
        grid-template-columns: repeat(3, -webkit-min-content -webkit-max-content);
        grid-template-columns: repeat(3, min-content max-content)
    }
}

@media only screen and (max-width: 37.5em) {
    .realtors__realtor {
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content
    }
}

.realtor-details {
    color: #f9f7f6;
    font-family: "Josefin Sans", sans-serif
}

.realtor__img {
    width: 7rem;
    border-radius: 50%
}

.realtor__name {
    font-size: 2rem;
    font-weight: 400
}

.realtor__sales {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Nunito", sans-serif
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 6rem;
    margin: 10rem 0
}

.features__feature {
    display: grid;
    align-content: end;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-gap: 1rem 3rem
}

.feature__text {
    font-size: 1.7rem;
    color: #6D5D4B;
    font-family: "Nunito", sans-serif;
    font-weight: 100
}

.feature__svg {
    width: 4.5rem;
    grid-row: 1/span 2;
    fill: #c69963;
    transform: translateY(-6rem)
}

.story__pictures {
    background-image: linear-gradient(to right, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../images/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center
}

@media only screen and (max-width: 62.5em) {
    .story__pictures {
        overflow: hidden
    }
}

.story__pictures--pic1 {
    grid-column: 2/6;
    grid-row: 3/5;
    width: 100%;
    box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.4)
}

.story__pictures--pic2 {
    grid-column: 4/-1;
    grid-row: 3/-1;
    width: 125%;
    z-index: 10;
    box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.4)
}

.story__text {
    display: grid;
    padding: 6rem 8vw;
    align-content: center;
    justify-items: start;
    background-color: #f9f7f6
}

.story__text-text {
    font-size: 1.7rem;
    color: #6D5D4B;
    font-family: "Nunito", sans-serif;
    margin-bottom: 3rem;
    font-style: italic
}

.story__text h3 {
    color: #c69963;
    text-transform: uppercase;
    margin-bottom: 2rem
}

.story__text h2 {
    line-height: 1;
    font-style: italic;
    margin-bottom: 2rem
}

.homes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row: auto;
    grid-gap: 7rem;
    margin: 10rem 0;
    align-content: center
}

.home {
    background-color: #f9f7f6;
    text-align: center;
    position: relative
}

.home-svg {
    width: 2rem;
    height: 2rem;
    fill: #c69963;
    margin-right: 1rem
}

.home-svg--heart {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem
}

.home-img {
    width: 100%
}

.home-label {
    background-color: #101d2c;
    color: #f9f7f6;
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    font-size: 1.6rem;
    width: 70%;
    padding: 1rem 1rem;
    transform: translateY(-3rem);
    margin: 0 auto
}

.home-details {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3rem;
    font-size: 1.5rem;
    color: #6D5D4B;
    align-content: start;
    justify-items: center
}

.home button {
    width: 100%
}

.gallery {
    background-color: #f9f7f6;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 2rem
}

.gallery__imageContainer-1 {
    grid-row: 1/3;
    grid-column: 1/3
}

.gallery__imageContainer-2 {
    grid-row: 1/4;
    grid-column: 3/7
}

.gallery__imageContainer-3 {
    grid-row: 1/3;
    grid-column: 7/8
}

.gallery__imageContainer-4 {
    grid-row: 1/3;
    grid-column: 8/-1
}

.gallery__imageContainer-5 {
    grid-row: 3/6;
    grid-column: 1/3
}

.gallery__imageContainer-6 {
    grid-row: 4/6;
    grid-column: 3/6
}

.gallery__imageContainer-7 {
    grid-row: 4/5;
    grid-column: 6/7
}

.gallery__imageContainer-8 {
    grid-row: 3/5;
    grid-column: 7/10
}

.gallery__imageContainer-9 {
    grid-row: 3/6;
    grid-column: 10/-1
}

.gallery__imageContainer-10 {
    grid-row: 6/8;
    grid-column: 1/2
}

.gallery__imageContainer-11 {
    grid-row: 6/8;
    grid-column: 2/5
}

.gallery__imageContainer-12 {
    grid-row: 6/8;
    grid-column: 5/6
}

.gallery__imageContainer-13 {
    grid-row: 5/8;
    grid-column: 6/10
}

.gallery__imageContainer-14 {
    grid-row: 6/8;
    grid-column: 10/-1
}

.gallery__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.footer {
    background-color: #101d2c;
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr)
}

.footer__nav {
    grid-row: 1/ span 1;
    grid-column: 1/-1;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem
}

.footer__text {
    grid-column: 1/-1;
    text-align: center;
    color: #aaa;
    font-size: 1.5rem;
    margin: 6rem
}

.nav {
    display: inline-block;
    text-align: center
}

.btn-footer {
    background-color: inherit;
    font-weight: 400;
    padding: 1.5rem;
    line-height: 1.6;
    font-size: 1.4rem;
    transition: all .2s
}

.btn-footer:hover {
    background-color: #1e344d
}