* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    transition: inherit;
}

html {
    font-size: 62.5%;
    font-family: Impact, Charcoal, sans-serif;
    color: black;
    transition: all .2s;
}

.absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pigGame {
    background: rgba(0, 0, 0, .9);
    height: 100vh;
    position: relative;
}

.gameboard {
    width: 70%;
    height: 75%;
    background-color: yellow;
}

.newgame {
    margin: 1rem 0;
    text-align: center;
    font-size: 2.5rem;
}

.newgame--text {
    display: inline-block;
    text-transform: uppercase;
}

.newgame--text:link,
.newgame--text:visited {
    text-decoration: none;
    color: black;
}

.playerslate {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.float-50 {
    width: 50%;
    float: left;
}

.playerscore--player {
    font-size: 7rem;
    text-align: center;
}


.currentMatch {
    font-size: 4rem;
    text-align: center;
    padding-top: 5rem;
}

.currentScore--score {
    font-size: 9rem;
}

.currentMatch--rel {
    position: relative;
    height: 10vh;
}

.currentScore {
    position: absolute;
    background-color: white;
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
}

.currentScore--player1 {
    left: 50%;
    transform: translate(-50%, 0);
}

.currentScore--player2 {
    left: 50%;
    transform: translate(-50%, 0);
}

.currentScore--name {
    font-size: 2.5rem;
}

.options {
    margin: 1rem;
}

.options--text:link,
.options--text:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 3rem;
}

.finalScore {
    position: absolute;
    bottom: 3rem;
}

.finalScore--container {
    height: 3rem;
    margin-left: 370%;
    outline: none;
    border: none;
}

.finalScore--container:placeholder-shown {
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.dice {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: black;
}

.dice-1 {
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(../images/1.png);
    background-position: center;
    background-size: cover;
}

.dice-2 {
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(../images/2.png);
    background-position: center;
    background-size: cover;
}

.indicator {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    background-color: orangered;
}

.disp {
    visibility: hidden;
}